:root {
    /* Colours */
    --color-text: #000;
    --color-primary: #5bbaf6;
    --color-secondary: rgba(188, 188, 188, 0.258);
    --color-dark: #b2e2f7d9;
    --color-bg: #fff;
  
    /* Fonts */
    --font-roboto: "Roboto";

    /* contact size */
    --font-size-small: 25px;
    --font-size-medium: 40px;
    --font-size-large: 60px;
  }
  