@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
}

.title {
    color: var(--color-text);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    border-bottom: 0px solid var(--color-primary);
	padding: 5px 12px;
	border-left: 10px solid var(--color-primary);
	border-radius: 0.2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 30px;
}

.box{
    background: rgba(224, 224, 224, 0.258);
    margin: 10px 0;
    border-radius: 20px;
    padding: 20px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 32px;
}

.skilltitle{
    margin: 5px 20px;
    font-size: 35px;
    font-weight: 600;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    transition: 0.4s;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 17px;
    background-image: linear-gradient(90deg, rgba(188, 188, 188, 0.258) 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
    transition: 0.4s;
}

.historyItem:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}

.historyItem img {
    width: 50px;
    padding-right: 10px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 28px;
    font-weight: 600;
}

.historyItemDetails p {
    font-size: 19px;
    font-weight: 300;
    padding-top: 7px;
}

.historyItemDetails ul {
    margin-top: 10px;
    list-style-position: inside;
    font-size: 20px;
    margin-left: 17px;
}

@media screen and (max-width: 830px) {
    .skills {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin: 10px;
    }
    .skill p{
        font-size: 18px;
    }
    .skillImageContainer {
        width: 75px;
        height: 75px;
    }
    .skillImageContainer img {
        width: 50px;
    }
    .skilltitle{
        font-size:25px;
    }

    .history {
        width: 100%;
        gap: 9px;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 7px;
    }
}